.text-post-container {
  background-color: lightgreen;
  padding: 5px;
}
.text-post-header {
  text-align: right;
  font-size: small;
  color: darkgray;
}
.text-post-content {

}
.text-post-footer {
  text-align: left;
  font-size: small;
  color: darkgray;
}

